body{
    background-image: url("fundo.png");
    background-size: cover;
    background-attachment: fixed;
    color: #e5e6fd;
}
ul{
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   align-items: center;
   padding: 16px;
   font-family: Arial, Helvetica, sans-serif;
}
a{
    color: #e5e6fd;
    text-decoration: none;
}
header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.center{
   text-align: center;
}
.title{
    font-size: 20px;
    
}
footer img{
    width: 100px;

}
footer{
    display: flex;
    justify-content: center;
}
footer p{
    margin-top: 2px;
}
footer a{
    text-align: center;
    font-size: 20px;
}
p{
    font-size: 20px;
    color: #ffffff;
   
}
h3{
 font-size: 25px;
}
.conteiner{
    padding: 0px 50px ;
}
